<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        {% if uid %}
            <li><a href="#">{{ uid }}</a></li>
            <li><a href="{% url 'user:logout' %}">logout</a></li>
        {% else %}
            <li><a href="{% url 'user:register' %}">register</a></li>
            <li><a href="{% url 'user:login' %}">login</a></li>
        {% endif %}
    </div>

   <div class="b" align="center">
       <div>
        <table border="4">
			<tr>
                <td>商品名 </td>
                <td>礼品介绍</td>
                <td>商品价格</td>
                <td>商品数量</td>
                <td>商品图片</td>
                <td></td>
                </tr>
            {% for foo in product_page %}
                <tr>

                <td>{{ foo.product_name }}</td>
                <td>{{ foo.product_introduce }}</td>


                <td>{{ foo.product_price }}</td>
                <td>{{ foo.product_num}}</td>
                <td><img src = "{{ foo.product_picture.url }}" alt="" style="height: 60px;width: 60px"></td>
                <td><a href="/list/collect/{{ foo.product_id }}">收藏</a></td>
                </tr>
            {% endfor %}
        </table>



        <div class="pagenation">
            {% if product_page.has_previous %}
            <a href="{% url 'list:list'  product_page.previous_page_number %}">上一页</a>
            {% endif %}
            {% for pindex in pages %}
                {% if pindex == product_page.number %}
                    <a href="{% url 'list:list'  pindex %}" class="active">{{ pindex }}</a>
                {% else %}
                    <a href="{% url 'list:list'  pindex %}">{{ pindex }}</a>
                {% endif %}
            {% endfor %}
            {% if product_page.has_next %}
            <a href="{% url 'list:list' product_page.next_page_number %}">下一页></a>
            {% endif %}
        </div>
       </div>

   </div>
</body>
</html>